[submodule "Libs/embedded_hw_utils"]
	path = Libs/embedded_hw_utils
	url = https://github.com/SundaySW/embedded_hw_utils
[submodule "Libs/async_tim_tasks"]
	path = Libs/async_tim_tasks
	url = https://github.com/SundaySW/async_tim_tasks
